<%= simple_form_for([@shot, @shot.comments.build]) do |f| %>
    
<div class="box">
<div class="media-content">
<div class="content">
        <%= f.input :content,
        input_html: {class: 'textarea is-black'},
        wrapper: false,
        label_html: {class: 'label'}
        %>
        </br>
        <%= f.button :submit, "Laisser un commentaire", class:"button" %>
        </div>
        </div>
</div>
<% end %>