<div class="section is-centered">
    <div class="container">
        <div class="columns is-centered">
            <h2 class="title has-text-black is-2">Modifier Shot</h2></br> 
        </div>
    </div>
</div>


<%= render 'form', shot: @shot %>

<%= link_to 'Show', @shot %> |
<%= link_to 'Back', shots_path %>
